
/* Estilo para el contenedor del carrusel */
#carouselExampleIndicators {
  position: relative;
  top: 0px;
  left: 350px;
  width: 450px; /* Ancho del carrusel */
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* Estilo para las imágenes dentro del carrusel */
.carousel-item img {
  width: 0%;
  height: 0%;
  object-fit: auto;
}

/* Estilo para los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
  display: none; 
}

.img-sponsors .img1{
  position: absolute;
  top: 60%;
  left: 5%;
  width: 200px;
  height: auto;
}
.img-sponsors .img2{
  position: absolute;
  top: 70%;
  left: 34%;
  width: 200px;
  height: auto;
}
.img-sponsors .img3{
  position: absolute;
  top: 43%;
  left: 19%;
  width: 200px;
  height: auto;
}
.img-sponsors .img4{
  position: absolute;
  top: 54%;
  left: 23%;
  width:100px;
  height: auto;
}


.portada-competencia{
  position: absolute;
  left: 3%;
  top: 120px;
}