
.img-bienvenidos{
    position: absolute;
    left: 23%;
    top: 140px;
}
.logo-redsocial{
    position: absolute;
    top: 89%;
    left: 1%;
    cursor: pointer;
}
.firma{
    position: absolute;
    left: 75%;
    top: 87%;
}
.conjunto-latas{
    position: absolute;
    left: 24%;
    top: 32%;
}

/* ICONOS */
.iconos{
    position: absolute;
    top: 690px;
    left: 4%;
    font-size: 26px;
    color: white;
    cursor: pointer;
}
.iconos a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}