
#contenedorLibros{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

#contenedorLibros img {
    width: auto;
    height: 250px;
}

/* styles.css o tu archivo CSS externo */
#agregarEditarForm .form-control img {
max-width: 200px;
max-width: 200px;
}
